.hero-container {
    display: flex;
    width: 100%;
    height: 92vh;
    justify-content: center;
    align-items: center;
    position: relative; 
    color: #f8f9fa;
    flex-direction: column;
    @media screen and (max-width: 768px) {
        height: 50vh;
        padding: 20px;
        justify-content: center;
        align-items: center;
        p{
            width: 100% !important;  
        }
        
    }
    
    p{
        width: 50%;
        text-align: center;
    }
}
.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../../assets/img/bannersite.jpg");
    background-size: cover;
    filter: brightness(0.2) blur(1px);
    z-index: -1;
    background-attachment: fixed;
}


@keyframes soft-scroll {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}

.hero-container h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 2rem;
        margin-bottom: 0;
        
    }
}

.hero-container h1 span {
    background: linear-gradient(to right, #69df16, #3a4e3c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text{
    width: 100%;
    
}
.hero-btn{
    width: 100%;
    max-width: 250px;
    background-color: #f8f9fa;
    color: #0D0D0D;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}
.hero-btn:hover{
    background-color: #69df16;
    color: #f8f9fa;
}
