.cookieContainer {
    position: fixed;
    padding: 1rem;
    background: #1a1a1a;
    color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    z-index: 9999;
    align-items: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    
  
    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      max-width: 1200px;
      align-items: center;
      justify-content: space-around;
      p{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  .cookieContent {
    display: flex;
    gap: 1rem;
    text-align: center;
  
    a {
      color: #69df16;
      text-decoration: underline;
    }
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  
    button {
      padding: 0.5rem 1rem;
      border: none;
      background: #69df16;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;
  
      &:hover {
        background: #0a1800;
      }
  
      &:nth-child(2) {
        background: #555;
        color: #fff;
  
        &:hover {
          background: #777;
        }
      }
    }
  }
  